            <section id="play" class="cards-section">
                <div class="card color-card">
                    <h2 class="card-title">🎨 Cambiar color de fondo</h2>
                    <div class="card-content">
                        <img src="../assets/img/circulopng.png" alt="" class="card-side-img">
                        <div class="card-text">
                            <p>Color actual: <span id="colorCode">#000000</span></p>
                            <div class="btn-group">
                                <button id="changeColorBtn">Cambiar color</button>
                                <button id="copyColorBtn">Copiar</button>
                            </div>
                        </div>
                    </div>
                    <div class="animated-border"></div>
                </div>
            </section>