    <nav class="main-nav" id="navigation">
        <div class="nav-container">
            <div class="logo">
                <span class="logo-cookie"><img src="../assets/img/logo-nick.png"
                        alt="imagenes de galletas con formas Squid Game"></span>
                <span class="logo-text">
                    <h4>Jugador 372</h4>
                    <h1>Nicolas Galarza</h1>
                </span>
            </div>
            <ul class="nav-menu">
                <li class="play"><a href="#play"><img src="../assets/img/circulito boton.png" alt="">Juguemos</a></li>
                <li class="season"><a href="#season"><img src="../assets/img/triangulito boton.png"
                            alt="">Temporadas</a></li>
                <li class="frostman"><a href="#frostman"><img src="../assets/img/cuadradito boton.png" alt="">Frost
                        Man</a>
                </li>
            </ul>
        </div>
        <div class="wave-header" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150"
                preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C210.77,244.03 349.20,-49.98 500.27,77.27 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: rgba(0,0,0,0.1)"></path>
            </svg>
        </div>
        <div class="wave-header-one" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150"
                preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C210.77,244.03 349.20,-49.98 500.27,77.27 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: rgba(0,0,0,0.3)"></path>
            </svg>
        </div>
    </nav>